/* ROOT PAGE */
.contact-page {
  padding: 60px 60px;
}

/* HEADER */
.contact-header {
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h1 {
  font-size: 42px;
  font-weight: 900;
  color: #1f1f1f;
}

.contact-header p {
  margin-top: 10px;
  color: #6b7280;
  font-size: 16px;
}

/* CONTACT INFO + MAP ROW */
.contact-info-section {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}

/* CONTACT INFO CARD */
.contact-card {
  flex: 1;
  background: linear-gradient(180deg, #ffffff, #f5f7ff);
  padding: 30px;
  border-radius: 16px;
  text-align: center;

  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.contact-logo {
  width: 110px;
  border-radius: 14px;
  margin-bottom: 15px;
}

.tagline {
  font-size: 15px;
  color: #555;
  margin: 12px 0 20px;
}

.info-list p {
  margin: 8px 0;
  color: #444;
  font-size: 16px;
}

/* MAP */
.contact-map {
  flex: 1.2;
  height: 370px;
  border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

/* CONTACT FORM */
.contact-form-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center Forms */
}

.contact-form-section h2 {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.contact-form {
  background: white;
  padding: 35px;
  border-radius: 16px;
  width: 100%;
  max-width: 700px;

  box-shadow: 0 18px 40px rgba(0,0,0,0.06);
}

/* FORM ROW */
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-input-block {
  flex: 1;
}

/* INPUTS */
input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  margin-top: 6px;
  font-size: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

/* SUBMIT BUTTON */
.send-btn {
  margin-top: 20px;
  background: #4f46e5;
  color: white;
  padding: 13px;
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;

  transition: 0.3s ease;
}

.send-btn:hover {
  background: #4338ca;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-info-section {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .form-row {
    flex-direction: column;
  }

  .contact-page {
    padding: 40px 25px;
  }

  .contact-header h1 {
    font-size: 34px;
  }

  .contact-form-section h2 {
    font-size: 26px;
  }
}
